.searchpage {
  display: flex;
}

.categories {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
  padding: 0.5em;
  width: fit-content;
}

.productList {
  display: flex;
  flex-wrap: wrap;
}

.product {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
  margin: 0.5em;
  padding: 0.5em;
  width: 300px;
}
